body{
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
    font-size:  6rem;
    transform: rotate(90deg);
    width:200px;
    height:200px;
    transform: scale(1.5);
}
.rotate{
    transform: rotate(.25turn);
}
.scale{
    
}