

body {
    display: flex;
    justify-content: center;
    background-color:#404040 ;
    color:white;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
}
svg {
    border: 1px solid black;
}
rect {
    cursor: pointer;
}
input{
    
    background-color: grey;
    border: white 1px solid;
    
}
label{
    display: flex;
    border:white 1px solid;
    background-color: grey;
    font-family:'Courier New', Courier, monospace
}
#fillColor{
    width:122.517px;
    height: 50px;
    display: flex;
}
#strokeColor{
    display: flex;
    width:122.517px;
    height: 50px;
}
button{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-color: rgb(91, 91, 91);
    border: black 3px solid;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
}